{% extends "base.html" %}

{% block title %} Home {% endblock title %} {% block
nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="display-4">Welcome to our application</h1>
            <p>
                <span class="font-weight-bold">Dreamcar</span> is a company which produces
                car components. This is a dedicated application for its vendors where they
                can see all the orders posted by Dreamcar company. With that, Vendors can
                bid for each order with the lowest price.
            </p>
        </div>
    </div>

{% endblock content %}